USE [master]
GO
/****** Object:  Database [krautundrueben]    Script Date: 09.12.2021 14:09:11 ******/
CREATE DATABASE [krautundrueben]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'krautundrueben', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\krautundrueben.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'krautundrueben_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\krautundrueben_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [krautundrueben].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [krautundrueben]
GO
/****** Object:  User [Pevin]    Script Date: 09.12.2021 14:09:11 ******/
CREATE USER [Pevin] FOR LOGIN [Pevin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Petrus]    Script Date: 09.12.2021 14:09:11 ******/
CREATE USER [Petrus] FOR LOGIN [Petrus] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Levin]    Script Date: 09.12.2021 14:09:11 ******/
CREATE USER [Levin] FOR LOGIN [Levin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Kevin]    Script Date: 09.12.2021 14:09:11 ******/
CREATE USER [Kevin] FOR LOGIN [Kevin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [itsolution_admin]    Script Date: 09.12.2021 14:09:11 ******/
CREATE USER [itsolution_admin] FOR LOGIN [itsolution_admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Hans]    Script Date: 09.12.2021 14:09:11 ******/
CREATE USER [Hans] FOR LOGIN [Hans] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Hannes]    Script Date: 09.12.2021 14:09:11 ******/
CREATE USER [Hannes] FOR LOGIN [Hannes] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [xyxyxy]    Script Date: 09.12.2021 14:09:11 ******/
CREATE ROLE [xyxyxy]
GO
/****** Object:  DatabaseRole [DB_Admin]    Script Date: 09.12.2021 14:09:11 ******/
CREATE ROLE [DB_Admin]
GO
/****** Object:  DatabaseRole [Azubis]    Script Date: 09.12.2021 14:09:11 ******/
CREATE ROLE [Azubis]
GO
ALTER ROLE [Azubis] ADD MEMBER [Pevin]
GO
ALTER ROLE [DB_Admin] ADD MEMBER [Petrus]
GO
ALTER ROLE [Azubis] ADD MEMBER [Levin]
GO
ALTER ROLE [Azubis] ADD MEMBER [Kevin]
GO
ALTER ROLE [DB_Admin] ADD MEMBER [Hannes]
GO
/****** Object:  Table [dbo].[ALLERGENE]    Script Date: 09.12.2021 14:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALLERGENE](
	[ALLERGENID] [varchar](50) NOT NULL,
	[ALLERGENNAME] [varchar](50) NULL,
	[ALLERGENKATEGORIE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ALLERGENID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALLERGENEREZEPTE]    Script Date: 09.12.2021 14:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALLERGENEREZEPTE](
	[REZEPTID] [varchar](50) NOT NULL,
	[ALLERGENID] [varchar](50) NOT NULL,
	[ALLERGENEREZEPTEID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ALLERGENEREZEPTEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALLERGENEZUTAT]    Script Date: 09.12.2021 14:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALLERGENEZUTAT](
	[ZUTATENNR] [varchar](50) NOT NULL,
	[ALLERGENID] [varchar](50) NOT NULL,
	[ALLERGENEZUTATID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ALLERGENEZUTATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BESTELLUNG]    Script Date: 09.12.2021 14:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BESTELLUNG](
	[BESTELLNR] [varchar](50) NOT NULL,
	[KUNDENNR] [varchar](50) NULL,
	[BESTELLDATUM] [date] NULL,
	[RECHNUNGSBETRAG] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[BESTELLNR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BESTELLUNGZUTAT]    Script Date: 09.12.2021 14:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BESTELLUNGZUTAT](
	[BESTELLNR] [varchar](50) NOT NULL,
	[ZUTATENNR] [varchar](50) NOT NULL,
	[MENGE] [int] NULL,
	[BESTELLUNGZUTATID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BESTELLUNGZUTATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERNAEHRUNGREZEPTE]    Script Date: 09.12.2021 14:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERNAEHRUNGREZEPTE](
	[ERNAEHRUNGSID] [varchar](50) NOT NULL,
	[REZEPTID] [varchar](50) NOT NULL,
	[ERNAEHRUNGREZEPTID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ERNAEHRUNGREZEPTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERNAEHRUNGSKATEGORIE]    Script Date: 09.12.2021 14:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERNAEHRUNGSKATEGORIE](
	[ERNAEHRUNGSID] [varchar](50) NOT NULL,
	[ERNAEHRUNGSART] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ERNAEHRUNGSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ERNAEHRUNGZUTATEN]    Script Date: 09.12.2021 14:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ERNAEHRUNGZUTATEN](
	[ERNAEHRUNGSID] [varchar](50) NOT NULL,
	[ZUTATENNR] [varchar](50) NOT NULL,
	[ERNAEHRUNGZUTATENID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ERNAEHRUNGZUTATENID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KUNDE]    Script Date: 09.12.2021 14:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KUNDE](
	[KUNDENNR] [varchar](50) NOT NULL,
	[NACHNAME] [varchar](50) NULL,
	[VORNAME] [varchar](50) NULL,
	[GEBURTSDATUM] [date] NULL,
	[STRASSE] [varchar](50) NULL,
	[HAUSNR] [varchar](6) NULL,
	[PLZ] [varchar](5) NULL,
	[ORT] [varchar](50) NULL,
	[TELEFON] [varchar](25) NULL,
	[EMAIL] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KUNDENNR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIEFERANT]    Script Date: 09.12.2021 14:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIEFERANT](
	[LIEFERANTENNR] [varchar](50) NOT NULL,
	[LIEFERANTENNAME] [varchar](50) NULL,
	[STRASSE] [varchar](50) NULL,
	[HAUSNR] [varchar](6) NULL,
	[PLZ] [varchar](5) NULL,
	[ORT] [varchar](50) NULL,
	[TELEFON] [varchar](25) NULL,
	[EMAIL] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LIEFERANTENNR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REZEPTE]    Script Date: 09.12.2021 14:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REZEPTE](
	[REZEPTID] [varchar](50) NOT NULL,
	[REZEPTNAME] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[REZEPTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REZEPTEZUTAT]    Script Date: 09.12.2021 14:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REZEPTEZUTAT](
	[ZUTATENNR] [varchar](50) NOT NULL,
	[REZEPTID] [varchar](50) NOT NULL,
	[REZEPTEZUTATID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[REZEPTEZUTATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZUTAT]    Script Date: 09.12.2021 14:09:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZUTAT](
	[ZUTATENNR] [varchar](50) NOT NULL,
	[BEZEICHNUNG] [varchar](50) NULL,
	[EINHEIT] [varchar](25) NULL,
	[NETTOPREIS] [decimal](10, 2) NULL,
	[BESTAND] [int] NULL,
	[LIEFERANT] [varchar](50) NULL,
	[KALORIEN] [int] NULL,
	[KOHLENHYDRATE] [decimal](10, 2) NULL,
	[PROTEIN] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ZUTATENNR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALLERGENEREZEPTE]  WITH CHECK ADD FOREIGN KEY([ALLERGENID])
REFERENCES [dbo].[ALLERGENE] ([ALLERGENID])
GO
ALTER TABLE [dbo].[ALLERGENEREZEPTE]  WITH CHECK ADD FOREIGN KEY([REZEPTID])
REFERENCES [dbo].[REZEPTE] ([REZEPTID])
GO
ALTER TABLE [dbo].[ALLERGENEZUTAT]  WITH CHECK ADD FOREIGN KEY([ALLERGENID])
REFERENCES [dbo].[ALLERGENE] ([ALLERGENID])
GO
ALTER TABLE [dbo].[ALLERGENEZUTAT]  WITH CHECK ADD FOREIGN KEY([ZUTATENNR])
REFERENCES [dbo].[ZUTAT] ([ZUTATENNR])
GO
ALTER TABLE [dbo].[BESTELLUNG]  WITH CHECK ADD FOREIGN KEY([KUNDENNR])
REFERENCES [dbo].[KUNDE] ([KUNDENNR])
GO
ALTER TABLE [dbo].[BESTELLUNGZUTAT]  WITH CHECK ADD FOREIGN KEY([BESTELLNR])
REFERENCES [dbo].[BESTELLUNG] ([BESTELLNR])
GO
ALTER TABLE [dbo].[BESTELLUNGZUTAT]  WITH CHECK ADD FOREIGN KEY([ZUTATENNR])
REFERENCES [dbo].[ZUTAT] ([ZUTATENNR])
GO
ALTER TABLE [dbo].[ERNAEHRUNGREZEPTE]  WITH CHECK ADD FOREIGN KEY([ERNAEHRUNGSID])
REFERENCES [dbo].[ERNAEHRUNGSKATEGORIE] ([ERNAEHRUNGSID])
GO
ALTER TABLE [dbo].[ERNAEHRUNGREZEPTE]  WITH CHECK ADD FOREIGN KEY([REZEPTID])
REFERENCES [dbo].[REZEPTE] ([REZEPTID])
GO
ALTER TABLE [dbo].[ERNAEHRUNGZUTATEN]  WITH CHECK ADD FOREIGN KEY([ERNAEHRUNGSID])
REFERENCES [dbo].[ERNAEHRUNGSKATEGORIE] ([ERNAEHRUNGSID])
GO
ALTER TABLE [dbo].[ERNAEHRUNGZUTATEN]  WITH CHECK ADD FOREIGN KEY([ZUTATENNR])
REFERENCES [dbo].[ZUTAT] ([ZUTATENNR])
GO
ALTER TABLE [dbo].[REZEPTEZUTAT]  WITH CHECK ADD FOREIGN KEY([REZEPTID])
REFERENCES [dbo].[REZEPTE] ([REZEPTID])
GO
ALTER TABLE [dbo].[REZEPTEZUTAT]  WITH CHECK ADD FOREIGN KEY([ZUTATENNR])
REFERENCES [dbo].[ZUTAT] ([ZUTATENNR])
GO
ALTER TABLE [dbo].[ZUTAT]  WITH CHECK ADD FOREIGN KEY([LIEFERANT])
REFERENCES [dbo].[LIEFERANT] ([LIEFERANTENNR])
GO
USE [master]
GO
